.error {
    color: red;
    margin-bottom: 5px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
    .btn-primary {
      background-color: #ff0066;
      border: none;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }
    .btn-primary:hover {
      background-color: #009eb3;
      transform: scale(1.05);
    }
    body {
      background: linear-gradient(to right, #1162cb8e, #fc257096);
      color: white;
    }
    .form-signin {
      background: white;
      color: black;
    }
    