{% extends "_base.html" %}
{% block content %}

<h1 class="text-center" style="color: whitesmoke;">Welcome to SafeHub App!</h1>
<h3 class="text-center" style="color: #2d2d27;">
  This application demonstrates a Multi-Factor Authentication system implemented by CityU students:
</h3>
<ul style="list-style-type: none; color: #2d2d27; text-align: center; padding: 0;">
  <h2><li><strong>1. Jayasudha Kalamegam</strong></li>
  <li><strong>2. Kritthika Shanmugam</strong></li>
  <li><strong>3. Sathiyashivani Sathish Kumar</strong></li></h2>
</ul>

<div class="mt-4">
  <p style="color: #2d2d27;">Click below to access CityU MyCourses:</p>
  <a href="https://mycourses.cityu.edu/d2l/home/105183" target="_blank">
    <h3 style="color: #2d2d27;">Course 1: Software Engineering</h3>
  </a>
  <a href="https://mycourses.cityu.edu/d2l/home/65848" target="_blank">
    <h3 style="color: #2d2d27;">Course 2: Full-stack development</h3>
  </a>
  <a href="https://mycourses.cityu.edu/d2l/home/85601" target="_blank">
    <h3 style="color: #2d2d27;">Course 3: Machine Learning and Deep Learning </h3>
  </a>
</div>

{% endblock %}